@{
    ViewBag.Title = "admin";
}


<div class="page-all">
    <div class="form-input-500" style="text-align:center;">
        <h2>관리자 페이지</h2>
        <a href="/admin/upgrade">유저권한승격</a>
        <hr />
        <a href="/admin/viewdb">db확인</a>
        <hr />
        <a href="/admin/Class">반 정보 변경</a>
    </div>
</div>
