
@{
    ViewBag.Title = "LoginEr";
}


<div class="page-all">
    <div class="form-input-500" style="text-align:center">
        <h2>로그인 오류</h2>
        <h4>로그인 후 접속해주세요.</h4>

        <input type="button" class="btn btn-danger" value="뒤로가기" onClick="history.go(-1)">

    </div>
</div>

