
@{
    ViewBag.Title = "PermitionEr";
}

<div class="page-all">
    <div class="form-input-500" style="text-align:center">
        <h2>권한 오류</h2>
        <h4>권한이 없는 페이지에 접속하셨습니다.</h4>

        <input type="button" class="btn btn-danger" value="뒤로가기" onClick="history.go(-1)">

    </div>
</div>


