
@{
    ViewBag.Title = "Settings";
}

<div class="page-all">
    <div class="form-input-500" style="text-align:center;">

        <h2>개인정보 수정</h2>
        <hr />
        <a href="/Student/ChangeCat">관심카테고리 설정</a>
    </div>
</div>
